@using Prime.Models
@model AccessTerm

@{
  var userClauseClause = Model.UserClause.Clause.Split("{$lcPlaceholder}");
  var limitsAndConditions = Model.LimitsConditionsClause?.Clause;
  @* var licenceClassClauses = Model.LicenseClassClauses.Select(lcc => lcc.Clause); *@
}

@Html.Raw(userClauseClause[0])

@if(!string.IsNullOrEmpty(limitsAndConditions))
{
  <li>
    <p class="bold underline">Additional Limits and Conditions</p>
    <p>@Html.Raw(limitsAndConditions)</p>
  </li>
}

@Html.Raw(@userClauseClause[1])

@* @if(licenceClassClauses.Any())
{
  <li>
    <p class="bold underline">Licence Class Clauses</p>
    @foreach(var licenceClassClause in licenceClassClauses)
    {
      <p>@Html.Raw(licenceClassClause)</p>
    }
  </li>
} *@
