@using Prime.ViewModels.Emails
@model RemoteUserNotificationEmailViewModel

The Ministry of Health has been notified that you require Remote Access at
<br>
Organization Name: @Model.OrganizationName
<br>
Site Address: @Model.SiteStreetAddress, @Model.SiteCity
<br>
<br>
To complete your approval for Remote Access, please ensure you have indicated you require Remote Access on your profile at
<a href="@Model.PrimeUrl">@Model.PrimeUrl</a>.
