@using Prime.ViewModels.SiteRegistration
@model SiteRegistrationReviewViewModel

@{
  Layout = "~/Views/Partials/_BaseLayout.cshtml";
}

@section Title { Site Registration Review }

@section Theme {
@await Html.PartialAsync("~/Views/Partials/_BootstrapTheme.cshtml")
@await Html.PartialAsync("~/Views/Partials/_FontTheme.cshtml")
}

<h1 class="mb-4">SITE REGISTRATION REVIEW</h1>

<h2 class="mb-3">Organization Information</h2>

<div class="ml-2 mb-2">
  <h5>Organization Name (Legal Entity Operating Site)</h5>
  <span class="ml-2">@(Model.OrganizationName ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>Organization Registration ID</h5>
  <span class="ml-2">@(Model.OrganizationRegistrationId ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>Doing Business As</h5>
  <span class="ml-2">@(Model.OrganizationDoingBusinessAs ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>Organization Reference ID</h5>
  <span class="ml-2">@(Model.OrganizationReferenceId ?? "-")</span>
</div>

<h2 class="mb-3">Site Information</h2>

<div class="ml-2 mb-2">
  <h5>Site Name (doing business as)</h5>
  <span class="ml-2">@(Model.SiteName ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>Site ID</h5>
  <span class="ml-2">@(Model.PEC ?? "-")</span>
</div>

<h2 class="mb-3">Site Address</h2>

<div class="ml-2 mb-2">
  <h5>Address</h5>
  <span class="ml-2">@(Model.SiteAddress.Street ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>Address 2</h5>
  <span class="ml-2">@(Model.SiteAddress.Street2 ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>City</h5>
  <span class="ml-2">@(Model.SiteAddress.City ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>Province</h5>
  <span class="ml-2">@(Model.SiteAddress.ProvinceCode ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>Postal Code</h5>
  <span class="ml-2">@(Model.SiteAddress.Postal ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>Country</h5>
  <span class="ml-2">@(Model.SiteAddress.CountryCode ?? "-")</span>
</div>

<h2 class="mb-3">Hours of Operation</h2>

@foreach (var businessHour in Model.BusinessHours)
{
  <div class="ml-2 mb-2">
    <h5>@businessHour.Day</h5>
    <span class="ml-2">@businessHour.StartTime - @businessHour.EndTime</span>
  </div>
}

<h2 class="mb-3">Vendors</h2>

@foreach (var vendor in Model.Vendors)
{

  <div class="ml-2 mb-2">
    <h5>Vendor Name</h5>
    <span class="ml-2">@vendor.Name</span>
  </div>

  <div class="ml-2 mb-2">
    <h5>Vendor Email</h5>
    <span class="ml-2">@vendor.Email</span>
  </div>
}

<h2 class="mb-3">Remote Users</h2>

@foreach (var user in @Model.RemoteUsers)
{
  <div class="ml-2 mb-2">
    <h5>Name</h5>
    <span class="ml-2">@user.FullName</span>
  </div>

  @foreach (var certificate in @user.Certifications)
  {
    <div class="ml-2 mb-2">
      <strong>Certification</strong>
    </div>

    <div class="ml-2 mb-2">
      <h5>College</h5>
      <span class="ml-2">@certificate.CollegeName</span>
    </div>

    <div class="ml-2 mb-2">
      <h5>Licence Number</h5>
      <span class="ml-2">@certificate.LicenceNumber</span>
    </div>
  }
}

<h2 class="mb-3">Signing Authority</h2>

<div class="ml-2 mb-2">
  <h5>Job Title</h5>
  <span class="ml-2">@(Model.SigningAuthority.JobTitle ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>Name</h5>
  <span class="ml-2">@(Model.SigningAuthority.FullName ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>Phone</h5>
  <span class="ml-2">@(Model.SigningAuthority.Phone ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>Fax</h5>
  <span class="ml-2">@(Model.SigningAuthority.Fax ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>SMS Phone</h5>
  <span class="ml-2">@(Model.SigningAuthority.SmsPhone ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>Email</h5>
  <span class="ml-2">@(Model.SigningAuthority.Email ?? "-")</span>
</div>

<h2 class="mb-3">Administrator of PharmaNet Onboarding</h2>

<div class="ml-2 mb-2">
  <h5>Job Title</h5>
  <span class="ml-2">@(Model.AdministratorOfPharmaNet.JobTitle ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>Name</h5>
  <span class="ml-2">@(Model.AdministratorOfPharmaNet.FullName ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>Phone</h5>
  <span class="ml-2">@(Model.AdministratorOfPharmaNet.Phone ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>Fax</h5>
  <span class="ml-2">@(Model.AdministratorOfPharmaNet.Fax ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>SMS Phone</h5>
  <span class="ml-2">@(Model.AdministratorOfPharmaNet.SmsPhone ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>Email</h5>
  <span class="ml-2">@(Model.AdministratorOfPharmaNet.Email ?? "-")</span>
</div>

<h2 class="mb-3">Privacy Officer</h2>

<div class="ml-2 mb-2">
  <h5>Job Title</h5>
  <span class="ml-2">@(Model.PrivacyOfficer.JobTitle ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>Name</h5>
  <span class="ml-2">@(Model.PrivacyOfficer.FullName ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>Phone</h5>
  <span class="ml-2">@(Model.PrivacyOfficer.Phone ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>Fax</h5>
  <span class="ml-2">@(Model.PrivacyOfficer.Fax ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>SMS Phone</h5>
  <span class="ml-2">@(Model.PrivacyOfficer.SmsPhone ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>Email</h5>
  <span class="ml-2">@(Model.PrivacyOfficer.Email ?? "-")</span>
</div>

<h2 class="mb-3">Technical Support</h2>

<div class="ml-2 mb-2">
  <h5>Job Title</h5>
  <span class="ml-2">@(Model.TechnicalSupport.JobTitle ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>Name</h5>
  <span class="ml-2">@(Model.TechnicalSupport.FullName ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>Phone</h5>
  <span class="ml-2">@(Model.TechnicalSupport.Phone ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>Fax</h5>
  <span class="ml-2">@(Model.TechnicalSupport.Fax ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>SMS Phone</h5>
  <span class="ml-2">@(Model.TechnicalSupport.SmsPhone ?? "-")</span>
</div>

<div class="ml-2 mb-2">
  <h5>Email</h5>
  <span class="ml-2">@(Model.TechnicalSupport.Email ?? "-")</span>
</div>
